.w {
    width: 1720px;
    margin: 0 auto;
}

.container {
    position: absolute;
    width: 100%;
    min-height: 100%;
    /* background-color: #f1f1f3; */
}

.header {
    /* text-align: center; */
    height: 80px;
    width: 90%;
    min-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    /* border-bottom: 1px solid #000; */
}

.header .logo {
    float: left;
    /* width: 60px;
    height: 60px; */
    margin: 10px;
}

.header .logo a {
    display: block;
    width: 60px;
    height: 60px;
    background: url(../src/sydlogo.svg) no-repeat;
    background-size: contain;
    background-position-x: 5px;
    font-size: 0;
}

.header .nav {
    /* float: left; */
    display: table;
    text-align: center;
    width: max-content;
    height: 80px;
    margin: 0 auto;
    /* background-color: #dbdbdb; */
}

.header .nav ul li {
    float: left;
}

.header .nav ul li a {
    /* padding: 20px; */
    font-family: "Noto Sans SC", "微软雅黑";
    font-weight: 400;
    line-height: 80px;
    font-size: 16px;
    display: inline-block;
    width: 120px;
    height: 80px;
}

.header .nav ul li a span {
    color: #666666;
    padding-bottom: 3px;
    border-bottom: 2px solid #00000000;
    transition: all 100ms 0s ease-out;
}

.header .nav ul li :hover span {
    /* background-color: #000000; */
    color: #000000;
    border-bottom: 2px solid #000000;
}

.header .lang {
    text-align: center;
    line-height: 80px;
    font-family: "Noto Sans SC", "微软雅黑";
    font-weight: 500;
    /* background-color: #f1f1f1; */
    float: right;
    width: 100px;
    height: 80px;
}

.header .lang .cn {
    color: #000000;
    display: inline-block;
}

.header .lang .slash {
    color: #D8D8D8;
}

.header .lang .en {
    display: inline-block;
    height: 80px;
    width: auto;
    font-weight: 400;
    color: #D8D8D8;
}

.header .lang .en:hover span {
    color: #666666;
    transition: all 100ms 0s ease-out;
}


/* Background Sitting */

.background {
    position: absolute;
    font-family: "FF DIN pro-bold";
    color: #00000008;
    font-size: 32vmin;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Father Sitting */

.main {
    position: absolute;
    width: 100%;
    top: 80px;
    bottom: 0px;
    /* left: 0px; */
    /* background-color: red; */
}

.mContent {
    overflow: hidden;
    width: 60vmax;
    height: 75vh;
    z-index: 2;
    position: absolute;
    /* background-color: #fff; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.mLeft {
    height: 75vh;
    width: 28vw;
    float: left;
}

.mLeft .boldLine {
    float: left;
    width: 60px;
    margin-right: 20px;
    height: 75vh;
}

.mLeft .boldLine .shape {
    position: absolute;
    bottom: 10px;
    width: 60px;
    height: 4px;
    background-color: #000;
}

.mLeft .welcomeWords {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    font-family: "FZXiaoBiaoSong";
    font-size: 2em;
    line-height: 1.5em;
}

.mRight {
    float: right;
    height: 75vh;
    width: 30vw;
    /* background-color: #00000015; */
}

.mRight .coverPic {
    width: calc(100% - 80px);
    height: calc(100% - 60px);
    /* background-color: yellow; */
}

.mRight .coverPic .coverPicContent {
    width: 100%;
    height: 100%;
}

.mRight .coverPic .coverPicContent a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../src/coverPic.png) no-repeat center;
    background-size: cover;
}

.mRight .coverPicButton {
    height: 60px;
    width: 160px;
    float: right;
}

#leftButton,
#rightButton {
    float: left;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #ffffff00;
    width: 80px;
    height: 60px;
}

#leftButton:hover,
#rightButton:hover {
    background-color: #00000010;
}

#leftButtonC,
#rightButtonC {
    width: 80;
    height: 60;
}